:host {
  display: block;
  color: white;
}

.biography {
  display: block;
  min-height: calc(100vmin - 72px);
  padding: 32px 128px;
  background: #ccc top left / 200%;
  text-align: center;

  @media(max-width: 992px) {
    height: auto;
    padding: 16px;
    background-size: cover;
  }

  .header {
    color: white;
  }
}

$image-size: 250px;

.info {
  margin-top: $image-size / 2 + 10;
  display: flex;
  position: relative;

  img {
    position: absolute;
    top: -$image-size / 2;
    left: 0;
    right: 0;
    margin: auto;
    width: $image-size;
    height: $image-size;
    border-radius: 100%;
  }

  .info-left, .info-right {
    flex: 1;
    text-align: justify;

    &::before {
      content: "";
      width: $image-size;
      height: $image-size;
      shape-outside: border-box;
      border-radius: 50%;
      margin-top: -($image-size / 2 - 10);
    }
  }

  .info-left::before {
    float: right;
    margin-right: -($image-size / 2 - 10);
  }

  .info-right {
    margin-left: 20px;

    &::before {
      float: left;
      margin-left: -($image-size / 2 - 0);
    }
  }
}
