<div class="container">
  <h1 class="header">{{'masterClass.banner' | translate}}</h1>

<div class="content">
  <div class="image">
    <img [src]="data.imageUrl">
  </div>
  <div class="info-text">
    <p class="text">{{'masterClass.text.info' | translate}}</p>
    <p class="text">{{'masterClass.text.description' | translate}}</p>
    <p class="text">{{'masterClass.text.listingText' | translate}}</p>
    <ol class="items">
      <li class="item">{{'masterClass.text.list.item1' | translate}}</li>
      <li class="item">{{'masterClass.text.list.item2' | translate}}</li>
      <li class="item">{{'masterClass.text.list.item3' | translate}}</li>
    </ol>
    <div class="quote">
      <p class="quote-text">{{'masterClass.text.quote.message' | translate}}</p>
      <h4 class="author">-{{'masterClass.text.quote.author' | translate}}</h4>
    </div>
  </div>
</div>
